.nav-bar {
  background-color: grey; /*change later*/
  padding: 1em;
}

ul {
  font-size: 1em;
}

h2 {
  font-family: "GT Walsheim Pro Bold", sans-serif;
  font-style: normal;
}

h3 {
  font-family: "GT Walsheim Pro Medium", sans-serif;
  font-style: normal;
}
